@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header
{
    background-image: linear-gradient(90deg, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1) 58%);
    width: 100%;
    height: 4vw;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;

}
a{
    text-decoration: none;
    color: white;
}
li {
    float: left;
    padding: 14px 16px;
    text-align: center;
    list-style-type: none; /* Remove the bullet point */
    border-radius: 5px;
    width: 100px;
    margin-right: 10px;
}

li:hover {
    background-color: white;
    color: black;
}

.container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1) 58%);
}
.row
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
h1
{
    color: white;
    font-size: 3vw;
    margin-bottom: 20px;
}
.text-head
{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #fff8f8;
    font-size: 100px;
    font-weight: bold;
    flex-wrap: wrap;
}
.card
{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 40%;
    height: 300px;
    flex-grow: 1;
    flex-basis: 100 ;

    padding: 20px 30px;

    cursor: pointer;

    transition: transform 0.5s;

}
.card:hover
{
  transform: translateY(-10px);
}